/* div {
    border: red 1px dotted;
} */

@font-face {
    font-family: 'Digital Mono';
    src: url("../fonts/digital-7mono.ttf");
}

body {
    /* background-color: rgb(238, 238, 228); */
    background-image: url("../images/bck1.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* line-height: 0.9; */
}

header {
    width: 85vw;
    text-align: center;
}

#hangman-logo {
    width: 30%;
    margin-top: 1rem;
}

a {
    color: rgb(30, 29, 31);
}

main {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, p {
    padding: 0.2rem;
}

#secret-word {
    font-size: 5.5vw;
    letter-spacing: -10px;
}

h2, #picked-letters {
    font-size: 2rem;
}

main div {
    text-align: center;
    padding: 1rem;
}

#screen {
    background-image: url("../images/screen5-tr.png");
    background-size: 100% 100%;
    height: 350px;
    width: 85vw;
    font-family: 'Digital Mono', 'Courier New', Courier, monospace;
    color: rgb(30, 29, 31);
    font-size: 1.3rem;
    flex-direction: row;
    margin: 0;
}

#screen-center {
    width: 55%;
    position: relative;
}

#screen-left, #screen-right {
    width: 15%;
}

#press-text {
    animation: blink 1s infinite;
}

#screen-center-top {
    justify-content: space-between;
    margin: 1rem 0;
}

#screen-center-bottom {
    position: absolute;
    width: fit-content;
    bottom: 30px;
    text-align: left;
}

.hearts {
    height: 30px;
    animation: beating-heart infinite;
    position: absolute;
    left: 0;
}

#heart2 {
    animation: beating-heart infinite 1.5s;
}

.no-lives {
    opacity: 0.2;
}

.img-win-lose {
    width: 100%;
    margin-top: 3rem;
    opacity: 0.15;
}

/* ANIMATIONS */

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

@keyframes beating-heart {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/* SOME COMMON CLASSES */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.no-padding {
    padding: 0;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}